.main-bg{
    background-image: url("./images/spectrum-gradient.svg");
    background-size: cover;
    background-position:center;
}

.menu{
  position: fixed;
  top:0;
  left:0;
  right:0;
  padding: 20px;
  background-color: #474D78;
}

.menu h1{
  font-size: 25px;
}


.menu-content{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu ul{
  display: flex;
  list-style:none;
}

.menu ul li a{
  display: block;
  text-decoration: none;
  padding:12px;
  color: white;
}

.menu ul li a:hover{
  opacity: 0.5;
  transform: 200ms;
}
